
/* Sass Variables*/
$font-stack: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, 
                Verdana, sans-serif sans-serif;

$color-stack : #2D89E6;

/*Sass Extend/Inheritance*/               
%border-shared{

    border:thin solid #C3C3C3;
    border-radius: 7px;
    
}

%font-shared{
    font-family: $font-stack;
    font-weight: bold;
}




body{
    margin: 0;
    padding: 0;  
    background-color: #FFFFFF;
}

/*header*/
header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: $color-stack;
    color: #FFFFFF;

    @extend %font-shared;
    font-size: 15px;
    display: flex;
    justify-content: center;
    justify-items: center;
    h1{
        padding: 0;
        margin: auto;
    }
}





/* form */

form{

    width: 340px;
    height: 500px;
    
    @extend %border-shared;
    border-radius: 15px;    //override
    
    margin:20px 0 0 50px;

    .form_title{
        display: flex;
        justify-items: center;
        justify-content: center;
        font-family: $font-stack;
        color: #707070;    
    }

    .input_form{

        .input_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            input ,textarea{
                width: 298px;
                @extend %border-shared;
                padding-left: 10px;
            }

            input {   
                 height: 38px;
                 margin-bottom: 5px;  
            }
            
        }
         .add_bottom{
            display: flex;
            flex-direction: row;
            align-items: center; 
            padding-top: 10px; 
            font-size: 10px;
            label{
                margin-right: 5px;
            }
            input{
                width: 44px;
            }
        }
        
    }
    
        
     button{
            background-color: $color-stack;
            width: 100%;
            margin-top: 33px;
            border: none;
            border-radius: 0 0 15px 15px;
            text-align: center;
            padding: 18px 32px;
            color: #FFFFFF;
            @extend %font-shared;
    }
    
}
.body_form{
    display: flex;
    flex-direction: row;
}
section{
    width: 950px;
    height: 100vh;   
    background-color: #F6F6F6;
    margin-left: 20px;

    
        
    .section_head{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;   
        margin: 30px 0 15px 0;
        
        .bare{
            display: flex;
            align-items: center;
            padding-left: 30px;
            margin: 0;  
            width: 600px;
            height: 40px;
            background-color: $color-stack;
            border-radius: 0 15px 15px 0;
            color: #FFFFFF;
        }
        input{
            width: 80px;
            margin: 0 0 0 20px;
            @extend %border-shared;
            border-radius: 10px; //override
            height: 20px;
            padding-left: 10px;

            
        } 
    
        .iteam_bare{
            height: 40px;
            width: 65px;
            border-radius: 15px 0 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;    
            
            padding: 0;
            background-color: $color-stack;
            color: #FFFFFF;
           
        }
    }

    .menu{
        display: flex;
       .menu_mail{
           height: 111px;
           width: 100%;
           
           display: flex;
           .img_tag{
            height: 111px;
            width: 70px;
            padding-left: 10px;
        
            display: flex;
            justify-content: center;
            align-items: center;
                .circle{
                    height: 43px;
                    width: 43px;
                    background-color: #FF4A4A;
                    border-radius:50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .rectangle{
                        background-color: white;
                        height: 3px;
                        width: 10px;
                    }
                }
           }
           .data_tag{
               
               display: flex;
               flex-direction: column;
               justify-content:  center;
               padding-left: 10px;
               .tagName ,.tagData{
                   @extend %font-shared;
               }
               .tagName{
                   
                   font-size: 25px;
               }
               .tagData,.tagInfo{
                   font-size: 18px;
               }
               .tagData{
                   color: $color-stack;
               }
           }
       }
    }

}

#search{
   width: 180px;
   }